
.about{
    margin-bottom: 70px;
    
    .about-content{
        position: relative;
        padding: 30px 35px;
    }
    
    .about-description{
        margin-bottom: 50px;
    }
    .about-image{
        max-width: 80%;
    }
    
    .intersection-line-desktop{
        height: 70px;
        left: 50%;
        bottom: -85px;
    }
    
}


//********************************************
//SS BREAKPOINT
//********************************************
@media(min-width: 450px){
    .about{
        

    }
    
}//**********************

//********************************************
//SM BREAKPOINT
//********************************************
@media(min-width: 576px){
    .about{
        .about-image{
            max-width: 60%;
        }
    }
    
}//**********************

//********************************************
//LG BREAKPOINT
//********************************************
@media(min-width: 992px){
    .about{
        margin-bottom: 100px;
    }
    
}//**********************