
.lead{
    margin-bottom: 70px;
    
    .lead-item{
        padding: 25px;
        
        
    }
    .row-wrapper{
        position: relative;
    }
    
    
    
    
}


//********************************************
//LG BREAKPOINT
//********************************************
@media(min-width: 992px){
    .lead{
        .lead-item.bg-dark-purple{
            height: 50% !important;
        }
    }
    
    
}//**********************