
.testimonials{
    //transition: 0.5s linear;
    
    .testimonials-section-title{
        margin-bottom: 100px;
    }
    
    .testimonials-wrapper{
        padding: 30px 0 50px;
    }
    
    .testimonials-item{
        max-width: 80%;
        margin-bottom: 75px;
        
        .testimonials-image{
            max-width: 80%;
            margin-bottom: 50px;
        }
        
        .testimonials-title{
            margin-bottom: 45px;
            color: $custom-dark-gray;
        }
    }
}

.testimonials-after{
    .testimonials-after-wrapper{
        padding: 100px 0 100px;
    }
    
    .testimonials-description{
        max-width: 70%;
    }
    
    .testimonial-after-border-bottom{
        width: 90%;
        height: 2px;
        background: lightgray;
    }
}



//********************************************
//SS BREAKPOINT
//********************************************
@media(min-width: 450px){
    
    
}//**********************

//********************************************
//SM BREAKPOINT
//********************************************
@media(min-width: 450px){
    
    
}//**********************

//********************************************
//LG BREAKPOINT
//********************************************
@media(min-width: 992px){
    
    .testimonials{
        .testimonials-section-title{
            margin-bottom: 80px;
            color: #fff !important;
            
        }
        
        .testimonials-wrapper{
            padding-bottom: 70px;
        }
        
        .testimonials-item{
            .testimonials-image{
                margin-bottom: 40px;
            }
            
            .testimonials-title{
                font-weight: normal !important;
            }
        }
    }
    
}//**********************