

//********************************CUSTOM COLORS********************************//
$custom-dark-blue:  #445ea0;
$custom-yellow:     #ffd400;
$custom-light-blue: #c0ebfb;
$custom-light-purple: #a687fb;
$custom-dark-purple: #7152c6;
$custom-red:    #fe5b60;
$custom-blue:   #2979ff;
$custom-dark-gray: rgba(0,0,0,0.6);

//Lead item paragraph darken colors
//-item-red-paragraph-color: darken($$custom-red, 50%);

//********************************HEADER GENERAL STYLE********************************//
$header-nav-padd-top: 20px;
$header-nav-padd-bottom: 60px;


//********************************MAIN GENERAL STYLE********************************//

//*****LEAD SECTION*****
$custom-red-darken: darken($custom-red, 20%);
$custom-blue-darken: darken($custom-blue, 20%);
$custom-purple-darken: darken($custom-dark-purple, 20%);
$custom-yellow-darken: darken($custom-yellow, 20%);
